.report-data {
  width: 96vw;
  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;

  gap: 0 1vw;

  .report-info {
    padding-top: 10px;

    flex-basis: 26%;
    min-height: 400px;

    display: flex;

    flex-direction: column;
    gap: 10px 0;

    .report-meta-group {
      background-color: #d6d9de;

      box-shadow: 4px 4px 4px 0 rgb(34 60 80 / 20%);
      display: flex;
      flex-direction: column;

      gap: 2px 0;

      padding: 10px 0 10px 20px;
      user-select: none;

      label {
        font-size: 0.85rem;
        margin: 0 0 -5px 0;
      }

      h2, p {
        margin: 0 20px 0 0;
      }

      p {
        font-size: 1.2rem;
        font-weight: bold;
      }

      a {
        margin: 2px 0 5px 0;
        font-size: 1.1rem;
      }

      &.buttons {
        width: 30%;
        margin-left: auto;

        padding: 10px 15px;

        button {
          border: 1px solid #282c34;
          border-radius: 4px;

          min-height: 3vh;

          background-color: #ffbab8;

          width: 100%;

          transition: .25s ease-in-out;

          &:hover {
            cursor: pointer;
            transform: scale(1.05);
          }
        }
      }
    }
  }

  .report-content {
    display: flex;

    flex-basis: 73%;

    flex-direction: column;

    background-color: #d6d9de;
    box-shadow: 4px 4px 4px 0 rgb(34 60 80 / 20%);

    h2 {
      margin: 10px 0 20px 20px;
      width: 75%;
      border-bottom: 2px solid #282c34;
    }

    visibility: visible;

    &.hidden {
      visibility: hidden;
    }
  }

  .tool-result {
    table {
      margin: 10px 0 2vh 0;
      width: 100%;

      thead, tfoot {
        td {
          font-weight: bold;
        }
      }

      thead, tbody, tfoot {
        tr {
          td {
            padding: 2px 5px;

            p.hint {
              font-style: italic;
              font-size: 0.85rem;
              margin: 0 0 5px 0;
            }


          }
        }
      }

      &.weekly-report {
        thead, tbody, tfoot {
          tr {
            td.service-name {
              width: 55%;
            }

            td.allowed {
              width: 15%;
            }

            td.denied {
              width: 15%;
            }

            td.summary {
              width: 15%;
            }
          }
        }
      }

      &.regular-blocks {
        thead, tbody, tfoot {
          tr {
            td.service-name {
              width: 21%;
            }

            td.account-index {
              width: 4%;
            }

            td.account-full-name {
              width: 35%;
            }

            td.account-login {
              width: 40%;
            }
          }
        }
      }
    }

    table, tr, td {
      border: 2px solid #4c4d4f;
      border-collapse: collapse;
    }
  }
}