$color-main: #5f7d91;
$color-accent: #80a0b9;
$color-block: #dee3ee;
$color-background: whitesmoke;
$color-text: #272932;
$color-input: white;

$color-warning: #efb875;
$color-danger: #ff6961;
$color-success: #c3ff92;

$color-border: #272932;
$color-error-border: #a42b2b;

$default-shadow: 4px 4px 4px 0 rgba(34, 60, 80, 0.2);