#navigation-bar {
  width: 100%;
  min-height: 20px;
  height: 2vh;

  background-color: #76889A;
  border-bottom: 1px solid #dadada;
  box-shadow: 3px 8px 9px -6px rgba(34, 60, 80, 0.12);

  padding: 20px 0 20px 1.8vw;

  position: fixed;

  z-index: 999999;

  a {
    margin: 0;
  }
}

nav {
  width: auto;
  display: flex;
  flex-direction: row;
}


.navigation-bar__link, .navigation-bar__link_active {
  margin: 0 1vw 1vw 1vw;
  text-decoration: none;
  color: #282C34;
  font-size: 1.1rem;

  padding: 0 10px 0 10px;
}

.navigation-bar__link_active {
  color: #282C34;
  font-weight: bold;
}

