.statistics-body {
  width: 92vw;
  padding: 2vh 4vw;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  gap: 2vh 0;

  #filter-bar {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    align-self: center;

    width: 95vw;
    min-height: 4rem;
    height: 5vh;
    padding: 25px 0 20px 0;

    border-bottom: 2px solid #dadada;
  }
}

.chart {
  background-color: #d6d9de;
  box-shadow: 4px 4px 4px 0 rgb(34 60 80 / 20%);

  padding: 5px 10px 10px 15px;

  width: 100%;

  h2 {
    margin: 10px 0 5px 10px;
    border-bottom: 2px solid #282c34;

    width: 25%;
  }

  &_agreements {

  }

  &:last-child {
    margin-bottom: 10vh;
  }
}

