@import "src/styles/index";

.employee-card {
  margin: 0;
  padding: 5px 10px;
  background-color: $color-blue-slate;
  box-shadow: 4px 4px 4px 0 rgba(34, 60, 80, 0.2);



  &:hover {
    cursor: pointer;
  }

  &_preview {
    max-width: 32%;
    min-width: 250px;
    height: 100%;

    p {
      margin: 0;
      color: $color-gunmetal;

      white-space: pre-line;

      &.employee-card__name {
        font-size: 1.1rem;

        border-bottom: 2px solid $color-cadet;
      }

      &.employee-card__position {
        font-weight: bold;
        margin-top: 5px;
        font-size: 0.95rem;
      }

      &.employee-card__department {
        font-style: italic;
        font-size: 0.85rem;
      }

      &.employee-card__company {
        margin-top: 10px;

        font-style: italic;
        font-weight: bold;
        font-size: 0.85rem;
      }
    }

    .employee-card__occupations {
      display: flex;
      flex-direction: row;

      align-items: center;
      justify-content: flex-start;
      gap: 5px;

      font-size: 0.75rem;
      padding-top: 5px;
      margin-top: 5px;

      border-top: 2px solid rgba(87, 97, 98, 0.3);

      .occupations {
        padding: 1px 5px;
        border-radius: 5px;
        border: 1px solid $color-cadet;


        background-color: #c6e8ac;

        &.invalid {
          background-color: #e3adaa;
        }

        &_active {
          background-color: #c6e8ac;
          justify-self: end;
        }
      }
    }
  }
}