@import '../../../styles/index';

.history-body {
  width: 97vw;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 0 1vw;

  #search-bar {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    align-self: center;

    width: 95vw;
    min-height: 4rem;
    height: 5vh;
    padding: 25px 0 20px 0;

    border-bottom: 2px solid #dadada;

    .input-field {
      display: flex;
      flex-direction: column;

      justify-content: center;

      padding: 0 20px 0 20px;
      margin-bottom: 10px;

      height: 6vh;
    }

    .input-field label {
      margin-bottom: 4px;
    }

    .input-field input {
      height: 30px;
      width: 15vw;
      min-width: 200px;
      min-height: 1.5rem;

      border-radius: 2px;
      border: 1px solid $color-gunmetal;

      padding: 2px 5px;
      font-size: 0.9rem;

      &.error {
        border: 1px solid firebrick;
        background-color: lightpink;
      }
    }

    .input-field button {
      width: 100%;
      height: 4vh;

      margin-bottom: 4px;

      font-size: 1rem;


      border-radius: 5px;
      border: 1px solid $color-gunmetal;

      &:hover {
        background-color: $color-blue-slate;
        cursor: pointer;
      }
    }

    #report-types-select {
      width: 100%;
    }
  }

  p.placeholder {
    font-size: 1.5rem;
  }

  ul.report-list {
    padding: 0;
    width: 90vw;
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: flex-start;

    row-gap: 15px;
    column-gap: 2%;

    li {
      //margin: 10px 5px;
      flex-basis: 32%;

      a {
        text-decoration: none;
      }

      &.separator {
        flex-basis: 100%;

        background-color: $color-light-slate;
        box-shadow: 4px 4px 4px 0 rgba(34, 60, 80, 0.2);

        height: 2rem;
        padding: 5px 10px;
        border-radius: 2px;

        p {
          margin: 0;
          padding-left: 5px;
          font-size: 1.25rem;

          font-weight: bold;

          width: 50%;
          border-bottom: 1px solid $color-gunmetal;
        }

        &:not(:first-child) {
          margin-top: 30px;
        }
      }

      .report-card {
        transition: 0.25s ease-in-out;

        &:hover {
          transform: scale(103%);
          cursor: pointer;
        }

        padding: 4px 10px;

        height: 8vh;

        box-shadow: 4px 4px 4px 0 rgba(34, 60, 80, 0.2);
        background-color: white;

        border-radius: 2px;

        display: flex;
        flex-direction: column;

        flex-grow: 0.5;

        p {
          margin: 0;
          text-decoration: none;

          &.created-date {
            font-size: 0.9rem;
            border-bottom: 1px solid #65788A;
          }

          &.card-type {
            font-size: 1.2rem;
            font-weight: bold;

            i.card-id {
              font-size: 0.9rem;
              opacity: 0.5;
              float: right;
            }
          }
        }

        &_agreements {
          &-default {
            border-left: 5px solid darkseagreen;
          }

          &-detailed {
            border-left: 5px solid darkolivegreen;
          }
        }

        &_blocks {
          &-esd {
            border-left: 5px solid firebrick;
          }

          &-regular {
            border-left: 5px solid orange;
          }

          &-detailed {
            border-left: 5px solid orangered;
          }
        }

        &_none {
          border-left: 5px solid #576162;
        }
      }
    }
  }

  .report-list-loading {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90vw;
    height: 70vh;
  }
}