@import "/src/styles/colors";

.tool-form-field-group {
  background-color: $color-block;

  box-shadow: $default-shadow;
  display: flex;
  flex-direction: column;

  gap: 2px 0;

  padding: 5px 0 10px 0;
  user-select: none;

  width: 100%;

  border-radius: 4px;
}