@import "/src/styles/colors";

.tool-form-parameter {
  background-color: $color-block;

  min-height: 3vh;

  padding: 2px 5px;
  font-size: 1rem;

  display: flex;


  input, label {
    margin-left: 10px;
  }

  &_text-field {
    background-color: $color-input;
    margin: 0 10px 0 10px;

    min-height: 2vh;
  }

  &_checkbox-field {
    flex-direction: row;
    align-items: center;

    input {
      height: 1.2rem;
      width: 1.2rem;
    }

    label {
      margin-left: 5px;
    }
  }

  &_file-upload-field {
    flex-direction: column;
    align-items: start;

    label {
      margin-bottom: 5px;
    }

    input {
      background-color: $color-block;
    }
  }

  &_date-field {
    flex-direction: column;
    align-items: start;

    input {
      margin-top: 5px;
      padding: 2px 5px;
      min-width: 55%;

      border: 1px solid $color-border;
    }
  }

  &_textarea-field {
    flex-direction: column;

    textarea {
      min-height: 5rem;
      margin: 5px 10px 0 10px;
      padding: 5px;
    }
  }

  &_text-field {
    margin-left: 0;

    flex-direction: column;
    background-color: $color-input;

    input {
      margin: 2px 0 0 10px;
      padding: 2px 5px;
      background-color: $color-input;
      border: 1px solid $color-border;
    }
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}